@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a1c28;
}
.container {
  width: 40%;
  margin: 3rem auto;
  border: solid 1px blue;
  box-shadow: 0px 0px 3px 2px black;
  padding: 2rem;
  background-color: white;
}
.writeup {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  margin: 0.1rem auto 3rem auto;
  color: #1a1c28;
}
#form {
  font-family: "Raleway", sans-serif;
}
#tasks {
  margin: 2rem 0px 2rem 0px;
}
button {
  color: white;
  background-color: red;
  padding: 10px 18px;
  border-radius: 50%;
  font-size: 30px;
  border: none;
  cursor: pointer;
  position: absolute;
  margin-left: -1rem;
  margin-top: -1rem;
}
button:hover {
  opacity: 0.95;
}
.fa-trash {
  padding-right: 6px;
  float: right;
  color: rgb(116, 114, 114);
  margin: -2px;
  cursor: pointer;
}
li {
  border: 0.5px solid grey;
  padding: 17px;
  border-left: 5px solid red;
  margin-bottom: 5px;
  list-style: none;
  font-family: "Raleway", sans-serif;
}

#addTask {
  margin-left: 4.5rem;
  width: 40%;
  position: relative;
  padding: 3px;
}
#search {
  padding: 3px;
  border-bottom: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
}
#addTask:focus {
  outline: none;
}
#search:focus,
button:focus {
  outline: none;
}
#clearAll {
  width: 100%;
  padding: 5px 0px;
  color: white;
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px grey;
  cursor: pointer;
  outline: none;
}
#clearAll:hover {
  opacity: 0.8;
}
